
@{
    ViewBag.Title = "Подтверждение прибытия";
}

<h2>Подтверждение прибытия</h2>

<form action="/" method="post">
    <input type="text" name="racepointid" value="0" />
    <input type="text" name="racepointcode" value="0" />
    <input type="button" name="submit" />
</form>

