@{
    ViewBag.Title = "Интернет-система логистических процессов автопарка администрации муниципального образования.";
}

<h2>@ViewBag.Message</h2>
<h3>@ViewBag.Title</h3>


<p>Дипломный проект Е.Путилина, 2018.</p>
