@{
    ViewBag.Title = "Наши контакты";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    414000, Россия, г.Астрахань<br />
    Ул.Татищева, 16<br />
    <abbr title="Телефон">61-44-99</abbr>
</address>

<address>
    <strong>Тех.поддержка:</strong>   <a href="mailto:Support@putilin.com">Support@putilin.com</a><br />
    <strong>Отдел продаж:</strong> <a href="mailto:Marketing@putilin.com">Marketing@putilin.com</a>
</address>