@{
    ViewBag.Title = "Интернет-система логистических процессов автопарка администрации муниципального образования";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
<h2>Назначение информационной системы: </h2>
<div class="row">
    <div class="col-md-4">
        
        <p>
            1)	снижение объема рутинных и трудоемких операций по обработке дан-ных, связанных с учетом и анализом 
            перевозок автопарка администрации муниципального образования.
        </p>
        
    </div>
    <div class="col-md-4">

        <p>2)	повышение уровня информационной культуры органа управления муниципального образования</p>
        
    </div>
    
 
</div>

<div class="row">
    @*<p><a href="http://localhost:61820/Home/Menu" class="btn btn-primary btn-lg">Перейти к использованию системы &raquo;</a></p>*@
    <p><a href="/Home/Menu" class="btn btn-primary btn-lg">Перейти к использованию системы &raquo;</a></p>
    
</div>