
@{
    ViewBag.Title = "Отчеты";
}

<h2>Отчеты</h2>

@Html.ActionLink("Список рейсов", "ChoosePeriod", "ViewРасходГСМ") <br><br>

@Html.ActionLink("Расходы по задачам", "ChoosePeriod", "CostReport") <br><br>
