
@{
    ViewBag.Title = "Отчеты";
}

<h2>Отчеты</h2>

@Html.ActionLink("Список рейсов", "Index", "ViewРасходГСМ") <br>
@Html.ActionLink("Расходы по задачам", "Index", "ViewРасходГСМ") - в разработке <br>
@Html.ActionLink("Расходы по группам задач", "Index", "ViewРасходГСМ") - в разработке <br>
